button {
    vertical-align: top;
}

.uber {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 40px;
    width: 100px;
    border: none;
    transition: opacity 0.15s;
}

.uber:hover {
    opacity: 0.7;
}

.amazon {
    background-color: rgba(255, 247, 0, 0.91);
    height: 35px;
    width: 185px;
    border: none;
    border-radius: 20px;
}

.amazon:hover {
    background-color: rgb(255, 227, 0);
}

.github {
    background-color: #238636;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 5px;
    transition: box-shadow 0.15s;
}

.github:hover {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
}

.subscribe {
    background-color: rgb(230, 0, 35);
    color: white;
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    transition: background-color 0.15s;
}

.subscribe:hover {
    background-color: rgba(230, 0, 35, 0.7)
}

.subscribe:active {
    background-color: rgba(230, 0, 35, 0.3);
}

.join {
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 12px;
    color: rgb(10, 10, 134);
    border-color: rgb(10, 10, 134);
    border-width: 1px;
    background-color: white;
    border-radius: 3px;
    transition: background-color 0.15s, color 0.15s;
    margin-right: 3px;
}

.join:hover{
    background-color: rgb(10, 10, 134);
    color: white;
}

.tweet {
    background-color: #26a7de;
    color: white;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 14px;
    border-radius: 15px;
    border: none;
    transition: box-shadow 0.15s;
}

.tweet:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.stretch {
    padding: 7px;
    background-color: green;
    color: white;
    transition: padding 1.5s;
    border: none;
}

.stretch:hover {
    padding: 20px;
}

.shadow {
    padding: 7px;
    background-color: green;
    color: white;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.shadow:active {
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: none;
}

